<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group8.dao.login.UserDao">
    <select id="findUserByName" resultType="user" parameterType="String">
      select * from tb_admin where username=#{userName,jdbcType=VARCHAR}
    </select>
    <select id="findById" resultType="role" parameterType="Integer">
            select c.rolename from tb_admin a
            join tb_admin_role b on a.id=b.adminid
            join tb_role c on b.roleid=c.roleid where a.id=#{userId}
    </select>

    <select id="findPermissionById" resultType="permission">
        select e.url from tb_admin a
join tb_admin_role b on a.id=b.adminid
join tb_role c on b.roleid=c.roleid
join tb_role_permission d on c.roleid=d.roleid
join tb_permission e on d.permissionid=e.id
where a.id=#{userId}
    </select>

</mapper>