<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>p2p网贷平台</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="css/common.css" rel="stylesheet" />
<link href="css/index.css" rel="stylesheet" type="text/css">
<link href="css/detail.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="script/jquery.min.js"></script>
<script src="script/ablumn.js"></script>
<script src="script/plugins.js"></script>

  
  <!--vue-->
  <link rel="stylesheet" href="/vue/vue-index.css">
  <link rel="stylesheet" href="/element/index.css">
  <script src="/vue/vue-index.js"></script>
  <script type="text/javascript" src="/vue/vue.js"></script>
  <script src="https://cdn.bootcss.com/axios/0.19.0-beta.1/axios.js"></script>
  <!-- 引入样式 -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <!-- 引入组件库 -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
	<style type="text/css">
		.bg-purple {
			background: #fff;
			height: 256px;
		}
		
		body {
			background: #F4F4F4;
		}
		
		* {
			box-sizing: border-box;
		}
		
		.grid-content {
			padding: 20px;
			box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .12), 0 0 6px 0 rgba(0, 0, 0, .04);
		}
		
		.grid-content .col {
			text-align: center;
			border-right: 1px solid #e5e5e5;
		}
		
		.grid-content .col .colTop {
			margin: 20px 0 10px;
			color: #696969
		}
		
		.grid-content .col .colTop strong {
			font-size: 50px;
		}
		
		.grid-content .col .colBottom {
			font-size: 14px;
			margin: 22px 0;
			color: #696969;
		}
		
		.grid-content .el-right .col {
			border: 0;
		}
		/*列表2*/
		
		.grid-content2 .el-tabs--border-card {
			border: none;
		}
		
		.gird-content2 {
			margin-top: 20px;
			color: #666;
		}
		
		.gird-content2 .col2 {
			/*border-bottom: 1px solid #eee;*/
			/*padding: 0 20px;*/
		}
		
		.gird-content2 .col h2 {
			height: 36px;
			line-height: 36px;
			/*border-bottom: 1px solid #cecece;*/
			font-size: 18px;
		}
		.gird-content2 .loanGave table td,.gird-content2 .loanGave table th{
			text-align: center;
		}
		.el-input-number>span{
			height: 38px;
		}
		[class*=" el-icon-"], [class^=el-icon-]{
			line-height: 40px;
		}
	</style>
	<link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
</head>
<body>
<header id="thead">
  <script>
      $("#thead").load("head.html");
  </script>

</header>
<!--信息详细-->

<div id="app" style="margin-top: 20px;">
	
	<el-row type="flex" justify="center">
		<el-col :span="15">
			<div class="grid-content bg-purple">
				<el-col :span="16">
					<div class="el-left" style="height:100%;font-size: 24px;">
						<div class="el-left-top">
							<el-col :span="7">
								<div class="col col1">
									<div class="colTop" style="color: #ff7200;">
										<strong>20</strong>%
									</div>
									<div class="colBottom">
										<span>年化利率</span>
									</div>
								</div>
							</el-col>
							<el-col :span="7">
								<div class="col col2">
									<div class="colTop">
										<strong>{{month}}</strong>个月
									</div>
									<div class="colBottom">
										<span>借款期限</span>
									</div>
								</div>
							</el-col>
							<el-col :span="10">
								<div class="col col3" style="border: 0;">
									<div class="colTop">
										&yen;<strong>{{tendNum}}</strong>元
									</div>
									<div class="colBottom">
										<span>借款金额</span>
									</div>
								</div>
							</el-col>
						</div>
						<div class="el-left-bottom">
							<el-col :span="24" >
								<el-col :span="4" style="font-size: 16px;" :push="3">投标进度:</el-col>
								<el-col :span="14"  :push="2">
									<!--<template scope="scope">-->
										<!--<el-progress :width="80" :percentage="progress"></el-progress>-->
									<!--</template>-->
									<el-progress :percentage="progress"></el-progress>
								</el-col>
								
							</el-col>
						</div>
					</div>
				</el-col>
				<el-col :span="8">
					<div class="el-right" style="border-left:1px solid #e5e5e5">
						<div class="col col-line1">
							<p>剩余可投: <strong style="color: #ff7200;font-size: 30px;">{{allNum-num1<0?0:allNum-num1}}</strong> 元</p>
						</div>
						<div class="col col-line2" style="margin: 30px 0;">
							<template>
								<el-input-number v-model="num1" :step="100" :change="numChange()" :max="allNum" :min="100"></el-input-number>
							</template>
							<el-col style="margin: 10px 0;font-size: 14px;text-align: left;margin-left: 26%;">
								预计收入: <span style="color: red;">{{(num1*0.12)|numFilter}}</span> 元</el-col>
						</div>
						<div class="col col-line3" style="margin: 30px 0">
							<el-row>
								<el-button v-if="this.allNum < 0" type="primary" :disabled="true"  style="padding: 12px 74px;margin: 0 0 20px 0;">立即投标</el-button>
								<el-button v-if="this.allNum >= 0" type="primary"  @click="toubiao(num1)"  style="padding: 12px 74px;margin: 0 0 20px 0;">立即投标</el-button>

								<!--<el-button type="primary" style="padding: 12px 74px;margin: 0 0 20px 0;">立即投标</el-button>-->
							</el-row>
						</div>
					</div>
				</el-col>
			</div>
			
			<div class="gird-content2">
				<el-tabs type="border-card">
					<el-tab-pane label="借款人详情">
						<el-col :span="20" :push="1">
							<div class="col col1">
								<h2>
									<i class="fa fa-user-o" aria-hidden="true" style="color: #cdcdcd;"></i>
									
									个人信息
								</h2>
								<br />
								<el-table :data="tableData2" style="width: 90%;margin: 0 auto;" border >
									<el-table-column prop="NICKNAME" label="借款人昵称" ></el-table-column>
									<el-table-column prop="SEX" label="性别" width="50" >
										<template slot-scope="scope">
											<el-col>{{scope.row.SEX | formatStata1}}</el-col>
										</template>
									</el-table-column>
									<el-table-column prop="TELEPHONE" label="手机号"></el-table-column>
									<el-table-column prop="ACADEMIC" label="最高学历"></el-table-column>
									<el-table-column prop="MARRIAGE" label="婚姻状况"></el-table-column>
									<el-table-column prop="HOUSED" label="房产状况"></el-table-column>
									<el-table-column prop="ADDRESS" label="现居地"></el-table-column>
								</el-table>
								<br />
							</div>
						</el-col>
						<el-col :span="20" :push="1">
							<div class="col col2">
								<h2>
									<i class="fa fa-address-book-o" aria-hidden="true" style="color: #cdcdcd;"></i>
									工作状况
								</h2>
								<br />
								<el-table :data="job" style="width: 90%;margin: 0 auto;" border >
									<el-table-column prop="JOB" label="工作行业" ></el-table-column>
									<el-table-column prop="ADDRESS" label="工作城市" ></el-table-column>
									<el-table-column prop="INCOME" label="年收入(/元)" ></el-table-column>
									<el-table-column label="负债状况">
										<template scope="scope">
											<el-col>无</el-col>
										</template>
									</el-table-column>
									<el-table-column label="征信逾期状况">
										<template scope="scope">
											<el-col>未说明</el-col>
										</template>
									</el-table-column>
								</el-table>
								<br />
							</div>
						</el-col>
						<el-col :span="20" :push="1">
							<div class="col col3">
								<h2>
									<i class="fa fa-list-alt" aria-hidden="true" style="color: #cdcdcd;"></i>
									借款标信息
								</h2>
								<br />
								<el-table :data="loanInfo" style="width: 100%;" border >
									<el-table-column prop="MONEY" label="借款金额(/元)" ></el-table-column>
									<el-table-column prop="LONGTIME" label="借款期限(/月)"></el-table-column>
									<el-table-column prop="a6" label="年化利率">
										<template slot-scope="scope">
											<el-col>20.00%</el-col>
										</template>
									</el-table-column>
									<el-table-column prop="a7" label="起息日">
										<template slot-scope="scope">
											<el-col>放款成功次日</el-col>
										</template>
									</el-table-column>
									<el-table-column prop="PURPOSE" label="借款用途"></el-table-column>
									<el-table-column prop="a9" label="还款方式">
										<template slot-scope="scope">
											<el-col>等额本息</el-col>
										</template>
									</el-table-column>
									<el-table-column prop="a10" label="还款来源">
										<template slot-scope="scope">
											<el-col>个人收入</el-col>
										</template>
									</el-table-column>
								</el-table>
								<br />
							</div>
						</el-col>
					</el-tab-pane>
					<el-tab-pane label="投标记录">
						<div class="loanGave">
							<el-table :data="loanGave" style="width: 80%;margin: 0 auto;" border :stripe="true" >
								<el-table-column prop="NICKNAME" label="昵称" ></el-table-column>
								<el-table-column prop="MONEY" label="投标金额" ></el-table-column>
								<el-table-column prop="BEGINTIME" label="投标日期" ></el-table-column>
							</el-table>
							<!--列表底部工具条和分页符-->
							<el-row style="margin-top: 20px" type="flex" justify="end">
								<el-col :span="18" >
									<el-pagination
											style="text-align: center"
											@size-change="handleSizeChange"
											@current-change="handleCurrentChange"
											:current-page="currentPage"
											:page-sizes="[5,10, 20, 30, 50]"
											:page-size="pageSize"
											layout="total, sizes, prev, pager, next, jumper"
											:total="total">
									</el-pagination>
								</el-col>
							</el-row>
							
						</div>
					</el-tab-pane>
				</el-tabs>
			</div>
		</el-col>
	
	</el-row>

</div>

<script type="text/javascript">

	let vue = new Vue({
		el: "#app",
		data: {
			num1: 100,
			allNum: 900,
			tendNum:130000,
			tableData2:[],
			job: [],
			loanInfo:[
				{a1:'111',a2:'借款标111',a3:'AF50814897',
					a4:'109400元',a5:'36个月',a6:'20.00%',
					a7:'放款成功次日',a8:'日常消费',a9:'等额本息',
					a10:'个人收入',a11:'6天1小时15分'
				}],
			loanGave:[],
			//当前页
			currentPage:1,
			//分页大小
			pageSize:5,
			//总记录数
			total:800,
			month:36,
			goUrl:'',
			tendId:0,
			progress:20,
			login:""
		},

		mounted(){
			//把URL值绑定给tendid
			this.tendId=this.getUrlKey("tendId")
			this.tendId/=1;    //隐式转换成数字
			// console.log(typeof this.tendId)
			//在 then的内部不能使用Vue的实例化的this, 因为在内部 this 没有被绑定。
			let self = this;
			axios.post('/tendInfo/getLoanInfo',{tendid:this.tendId}).then(function(response){
				// console.log(response.data)
				// self.allNum = response.data;
				self.month = response.data[0].LONGTIME;
				self.tendNum = response.data[0].MONEY;
			});
			axios.post('/tendInfo/surplusMoney',{tendid:this.tendId}).then(function(response){
				// console.log(response.data)
				self.allNum = response.data;
			});

			//投资进度
			axios.post('/customer/getProgress',{tendid:this.tendId}).then(function(response){
				// self.progress = response.data.data;
				// console.log(sele.progress)
				console.log("获取投资进度")
				console.log(response.data[0]['JIN'])
				self.progress = response.data[0]['JIN'];
			});

			axios.post('/tendInfo/getLoanList',{tendid:this.tendId}).then(function(response){
				self.tableData2 = response.data.data;
				self.job = response.data.data;
			});
			axios.post('/tendInfo/getLoanInfo',{tendid:this.tendId}).then(function (response) {
				self.loanInfo=response.data;
            })


			
			let start =(this.currentPage-1)*this.pageSize;
			let end =this.currentPage*this.pageSize+1;
			axios.post('/tendInfo/getGaveList',{tendid:this.tendId,'start':start,'end':end}).then(function(response){
				self.total = response.data.total;
				self.loanGave = response.data.data;
				self.login=response.data.login;
			})
		},
		methods: {
			//表格重新加载数据
			loadingData:function() {
				let _self = this;
				_self.loading = true;
				let self = this;
				// self.tendId
				let start =(this.currentPage-1)*this.pageSize;
				let end =this.currentPage*this.pageSize+1;
				axios.post('/tendInfo/getGaveList',{tendid:self.tendId,'start':start,'end':end}).then(function(response){
					_self.total=response.data.total;
					_self.loanGave = response.data.data;
				})
				console.log(_self.currentPage);
				setTimeout(function(){
					console.info("加载数据成功");
					_self.loading = false;
				},300);
			},
			handleSizeChange(val) {
				this.pageSize = val;
				let _self = this;
				_self.loadingData();//重新加载数据
			},
			handleCurrentChange(val) {
				this.currentPage = val;
				console.log('当前页: ' + val);
				let _self = this;
				_self.loadingData();//重新加载数据
			},
			//获取URL参数值
			getUrlKey: function(name) {
				return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.href) || [, ""])[1].replace(/\+/g, '%20')) || null;
			},
            toubiao(hasMoney){
			    if(this.login==1){
			    let _self=this;
                axios.post("/investment/remainingSum",{"tendId":this.tendId,"money":hasMoney}).then(function(response){
                    console.log(response.data)

                	if(response.data>0){
                        _self.$message({
                            message: '投资成功',
                            type: 'success'
                        });
                        _self.editFormVisible = false;// 让弹出层隐藏
                        _self.num1=100;
                    }else{
                        _self.$message({
                            message: '余额不足，.请充值',
                            type: 'fail'
                        });
                    }
                })
			}else{
			        if(confirm("你还没有登录，是否前去登录")){
                        location.href="login.html";
                    }
				}
            },
			numChange(){
				// console.log(this.num1)
			},
			aaa(){
				temp=100;
				this.allNum-=temp;
				if(this.allNum<500){
					temp=this.allNum;
					console.log("剩余可投:" + temp)
				}else {
					temp=100;
				}
				return temp;
			}
		},
		//过滤器
		filters: {
			//保留两位小数
			numFilter(value) {
				// 截取当前数据到小数点后两位
				let realVal = Number(value).toFixed(2)
				// num.toFixed(2)获取的是字符串
				return Number(realVal)

			},
            formatStata1: function (sex) {
                const statusMap = {1:'男',2:'女'}
                return statusMap[sex]
            }
		}
	})
	
</script>


<!--网站底部-->
<div id="footer" class="ft bottom">
  <script>
      $(".bottom").load("bottom.html");
  </script>
</div>
</body>
</html>
