<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group8.dao.repayment.RepayMoneyDao">
    <select id="deductMoney" parameterType="map" statementType="CALLABLE" resultType="java.lang.Integer">
        call pro_batch_huankuan1(#{MO,mode=IN},#{REALID,mode=IN},#{TENDID,mode=IN},#{mse,mode=OUT,jdbcType=INTEGER})
    </select>





    <select id="getRepayMoneyCount" parameterType="map" resultType="map">
       select a.money,b.item from tb_loanrecord a
join tb_systemcategoryitem b on a.longtime=b.id
 where tendid=#{tendId}
    </select>
    
    
    <update id="deductMoneyToInvestment">
        update tb_moneypool set money = money - #{repayMoney} where id=1
    </update>
    <select id="calculationProportion" resultType="map" parameterType="map">
      select realid,round(sum(money)/(select sum(money) from tb_investmentlist )*100,6) proportion from tb_investmentlist
      where tendid=#{tendId} group by realid
    </select>

    <update id="moneyBack" parameterType="map">
        update tb_realname set balance = balance + #{toPersonMoney} where id=#{realId}
    </update>

    <select id="getExpireLoan" resultType="map">
        select a.tendid from tb_loanrecord a
        join tb_systemcategoryitem b on a.longtime=b.id
         where  add_months(trunc(a.begintime),b.item)= trunc(sysdate) and a.STATE=1
    </select>


    <update id="updateLoanState">
        update tb_loanrecord set state=2 where tendid =#{tendId}
    </update>

    <select id="getBeOverdueList" resultType="map">
        select a.tendid from tb_loanrecord a
        join tb_systemcategoryitem b on a.longtime=b.id
        where  add_months(trunc(a.begintime),b.item) &lt;= trunc(sysdate-1) and a.stuts=1
    </select>
    
    <update id="updateStutsToTwo" parameterType="map" >
        update tb_loanrecord set stuts = 2 where tendid=#{TENDID}
    </update>
    
    <select id="getRealMoneyByTendId" resultType="map">
        select a.realid,((b.item/12)*0.20*a.money+a.money) mo from tb_loanrecord a
				join tb_systemcategoryitem b on a.longtime=b.id
				 where a.tendid=#{tendId}

    </select>
</mapper>