<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js1/jquery-2.1.0.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="/js1/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/stylebid.css">
</head>
<body>
<div class="psize"><p>建标审核</p></div>
<!--查询-->
<div class="listye">
    <!--搜索筛选-->
    <form action="">
        <table class="sxtable">
            <tr>
                <td align="right">标金期数:</td>
                <td>
                    <select name="BID_AMORTIZE" class="form-control">
                        <option value="">--请选择--</option>
                        <option th:each="bid : ${selecta}" th:value="${bid.ID}" th:text="${bid.ITEM}"></option>
                    </select>
                </td>
                <td align="right">负责人:</td>
                <td>
                    <select name="USERID" class="form-control">
                        <option value="">--请选择--</option>
                        <option th:each="bid : ${selectu}" th:value="${bid.USERNAME}" th:text="${bid.USERNAME}"></option>
                    </select>
                </td>
                <td align="center">
                    <button type="submit" class="btn btn-success">检索</button>
                </td>

            </tr>
        </table>
    </form>
    <center>
        <table class="table table-hover" id="bidtable">
            <tr>
                <td>序号</td>
                <td>满标金额</td>
                <td>创建时间</td>
                <td>最低投入</td>
                <td>目前已投</td>
                <td>当前状态</td>
                <td>标金期数</td>
                <td>结束时间</td>
                <td>负责人</td>
                <td>操作</td>
            </tr>
            <tr th:each="bid : ${bidList}">
                <td th:text="${bid.BID_ID}"></td>
                <td th:text="${bid.BID_MONEY}"></td>
                <td th:text="${bid.BID_CREATION_TIME}"></td>
                <td th:text="${bid.BID_MINIMUM}"></td>
                <td th:text="${bid.hasMoney}"></td>
                <td th:text="${bid.STATE}"></td>
                <td th:text="${bid.CDATE}"></td>
                <td th:text="${bid.BID_END_TIME}"></td>
                <td th:text="${bid.USERID}"></td>
                <td >
                    <button type="button" class="btn btn-warning" id="changeMeths"  data-toggle="modal"  data-target="#myModala" >驳回
                        <input type="hidden" th:value="${bid.BRRID}">
                    </button>
                    <button type="button" class="xgbtn" id="changeMeth" style="color: #fff;"><input type="hidden" th:value="${bid.BID_ID}">确认
                        <input type="hidden" th:value="${bid.BID_ID}">
                    </button>
                </td>
            </tr>
            <tr>
                <td align="center" colspan="10" th:utext="${stringPage}">
                </td>
            </tr>
        </table>
    </center>
</div>


<!--添加-->
<div class="modalbox">
    <div class="modal fade" id="myModala" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">驳回</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="aaaaaaa">

                    <center>
                        <table class="tableLeft">
                            <p style="font-size: 15px">驳回理由：</p>
                            <textarea class="form-control" rows="3" name="REASONS" id="textarea" placeholder="请输入驳回理由"></textarea>
                            <td class="words">负责人：</td>
                            <td>

                                <input name="USERID" class="form-control" id="userx" th:value="${session.sessionValue.getAttribute('userName')}"
                                       required="true" disabled="disabled">
                            </td>
                        </table>

                    </center>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" id="xgtjbtn">提交</button>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
<script>
    $(document).on("click", "#changeMeths", function () {
        var aa = $(this).children("input[type='hidden']").val()
        $("#aaaaaaa").val(aa)
    })

    /*
* 添加方法传值
* */
    $(document).on("click", "#xgtjbtn", function () {
        var gaina= {BID_ID:$("#aaaaaaa").val(),REASONS:$("#textarea").val(),USERID:$("#userx").val()}

        var rea=$("#textarea").val();
        if(rea.length>0){
            $.ajax({
                url : "/bidcon/add",
                type:"POST",
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify(gaina),

                success:function (data) {
                    if (data>0){
                        location.href="/bidcon/list"

                        alert("驳回成功")
                    }else {
                        alert("驳回失败")
                        location.href="/bidcon/list"
                    }
                },error:function () {
                    console.log("error")
                }
            })
        }else {
            alert("驳回失败")
        }

    })
    /**
     *
     */
    $(document).on("click", "#xgtjbtn", function () {
        var gaina ={BID_ID:$("#aaaaaaa").val()}
        $.ajax({
            url : "/bidcon/updateb",
            type:"POST",
            contentType: "application/json",
            dataType: "json",
            data: JSON.stringify(gaina),
            success:function (data) {
            },error:function () {
                console.log("error")
            }
        })
    })
    $(document).on("click", "#xgtjbtn", function () {
        var gaina ={BID_ID:$("#aaaaaaa").val()}
        $.ajax({
            url : "/bidcon/updaterr",
            type:"POST",
            contentType: "application/json",
            dataType: "json",
            data: JSON.stringify(gaina),
            success:function (data) {
            },error:function () {
                console.log("error")
            }
        })
    })
    /*
    * 修改方法传值
    * */
    $(document).on("click", "#changeMeth", function () {
        var gaina ={BID_ID:$(this).children("input[type='hidden']").val()}
        $("#aaaaaaa").val(gaina)
        $.ajax({
            url : "/bidcon/update",
            type:"POST",
            contentType: "application/json",
            dataType: "json",
            data: JSON.stringify(gaina),

            success:function (data) {
                if (data>0){
                    location.href="/bidcon/list"

                    alert("审核成功")
                }else {
                    alert("审核失败")
                    location.href="/bidcon/list"
                }
            },error:function () {
                console.log("error")
            }
        })


    })
</script>
</html>