<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js1/jquery-2.1.0.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="/js1/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/stylebid.css">
</head>
<body>
<div class="psize"><p>招标信息</p></div>
<!--查询-->
<div class="listye">
    <!--搜索筛选-->
    <center>
        <table class="table table-hover" id="bidtable">
            <tr>
                <td>序号</td>
                <td>姓名</td>
                <td>性别</td>
                <td>地址</td>
                <td>身份证号</td>
                <td>申请时间</td>
                <td>月收入（元）</td>
                <td>婚姻状况</td>
                <td>居住状况</td>
                <td>学历</td>
                <td>审核时间</td>
                <td>操作 </td>
            </tr>
            <tr th:each="bid : ${bidList}">
                <td th:text="${bid.ID}"></td>
                <td th:text="${bid.REALNAME}"></td>
                <td th:text="${bid.SEX}"></td>
                <td th:text="${bid.ADDRESS}"></td>
                <td th:text="${bid.IDNUMBER}"></td>
                <td th:text="${bid.APPLICATIONTIME}"></td>
                <td th:text="${bid.INCOME}"></td>
                <td th:text="${bid.MARRIAGE}"></td>
                <td th:text="${bid.HOUSED}"></td>
                <td th:text="${bid.ACADEMIC}"></td>
                <td th:text="${bid.AUDITTIME}"></td>
                <td >
                    <button type="button" class="xgbtn" data-toggle="modal" id="changeMeth" data-target="#myModala" style="color: #fff;">建标
                        <input type="hidden" th:value="${bid.ID}">
                    </button>
                </td>
            </tr>
            <tr>
                <td align="center" colspan="12" th:utext="${stringPage}">
                </td>
            </tr>
        </table>
    </center>
</div>
<!--添加-->
<div class="modalbox">
    <div class="modal fade" id="myModala" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">创建标金项目</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="aaaaaaa">

                    <center>
                        <table class="tableLeft">
                            <tr>
                                <td class="words">满标金额(万元):</td>
                                <td>
                                    <input type="text" id="bulka" class="form-control" name="BID_MONEY" placeholder="请输入满标金额" required="true" disabled="disabled">
                                </td>
                            </tr>
                            <tr>
                                <td class="words">最低投入(万元):</td>
                                <td>
                                    <input type="text" id="loada" class="aa form-control" name="BID_MINIMUM" placeholder="请输入最投入金额" required="true">
                                    <input type="hidden" name="REALID" id="REALID">
                                </td>
                            </tr>
                            <tr>
                                <td class="words">标金期数：</td>
                                <!--<td>
                                    <select name="BID_AMORTIZE" class="form-control" id="option" required="true">
                                        <option value="">&#45;&#45;请选择&#45;&#45;</option>
                                        <option th:each="bid : ${selecta}" th:value="${bid.ID}" th:text="${bid.ITEM}"></option>
                                    </select>
                                </td>-->
                                <td>
                                    <input type="hidden" name="BID_AMORTIZE" id="option" class="form-control">
                                    <input type="text" name="LONGTIME" class="form-control" required="true" disabled="disabled">
                                </td>
                            </tr>
                            <tr>
                                <td class="words">结束时间:</td>
                                <td><input type="date" name="BID_END_TIME" id="endtime" class="form-control" required="true"/></td>
                                <td><input type="hidden" name="BRRID" id="brr"></td>
                            </tr>
                            <tr>
                                <td class="words">负责人：</td>
                                <td>

                                    <input name="USERID" class="form-control" id="userx" th:value="${session.sessionValue.getAttribute('userName')}"
                                           required="true" disabled="disabled">
                                </td>
                            </tr>
                        </table>

                    </center>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" id="xgtjbtn">提交</button>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
    $(document).on("blur", ".aa", function () {
        var bulk = $("#bulka").val();
        var load = $("#loada").val();
        if (parseInt(bulk)  < parseInt(load)) {
            alert("数额输入错误，请重新输入")
            $("#loada").val("");
            return false;
        } else {
            return true;
        }
    })

    $(document).on("click", "#changeMeth", function () {
        var aa = $(this).children("input[type='hidden']").val()
        $("#aaaaaaa").val(aa)
        $.ajax({
            url: "/record/getid",
            type: "POST",
            data: {id: aa},
            dataType: "json",
            success: function (data) {
                console.log(data)
                $("#myModala").find("[name='BID_MONEY']").val(data[0].MONEY);
                $("#myModala").find("[name='BID_AMORTIZE']").val(data[0].BID_AMORTIZE);
                $("#myModala").find("[name='LONGTIME']").val(data[0].LONGTIME);
                $("#myModala").find("[name='REALID']").val(data[0].REALID);
                $("#myModala").find("[name='BRRID']").val(data[0].BRRID);
            },error: function (data) {
                console.log("error")
            }
        })


    })
    /*
    * 添加方法传值
    * */
    $(document).on("click", "#xgtjbtn", function () {
        var gaina= {BID_MONEY:$("#bulka").val(),BID_MINIMUM: $("#loada").val(),BID_AMORTIZE:$("#option").val(),BID_END_TIME:$("#endtime").val(),USERID:$("#userx").val(),BID_ID:$("#aaaaaaa").val(),REALID:$("#REALID").val(),BRRID:$("#brr").val()}
        console.log(gaina)
        $.ajax({
            url : "/record/add",
            type:"POST",
            contentType: "application/json",
            dataType: "json",
            data: JSON.stringify(gaina),

            success:function (data) {
                if (data>0){
                    location.href="/record/list"

                    alert("建标成功")
                }else {
                    alert("建标失败")
                    location.href="/record/list"
                }
            },error:function () {
                console.log("error")
            }
        })


    })
    $(document).on("click", "#xgtjbtn", function () {
        var gaina ={ID:$("#aaaaaaa").val()}
        $.ajax({
            url : "/record/update",
            type:"POST",
            contentType: "application/json",
            dataType: "json",
            data: JSON.stringify(gaina),
            success:function (data) {
            },error:function () {
                console.log("error")
            }
        })
    })
</script>

</body>
</html>