<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>审核列表2</title>
    <!-- 引入样式 -->
    <script src="/vue/vue.js"></script>
    <script type="text/javascript" src="/js1/axios.min.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.css">

</head>
<body>
<div id="app">
    <h2>{{ message }}</h2>
</div>

<div id="tableView">
    <!--列表顶部搜索和工具条-->
    <el-row>
        <el-form :inline="true" :model="searchForm" class="demo-form-inline">

            <el-form-item label="贷款人姓名">
                <el-input v-model="searchForm.realname" placeholder="姓名"></el-input>
            </el-form-item>
            <el-button type="primary" icon="search" @click="searchClick">查询</el-button>
            </el-form-item>
        </el-form>
    </el-row>
    <!--列表-->
    <el-row>
        <el-table
                :data="tableData"
                v-loading.body="loading"
                border
                @selection-change="selectionChange"
                style="width: 100%">
            <el-table-column
                    prop="REALNAME"
                    label="姓名"
                    width="100">
            </el-table-column>
            <el-table-column
                    prop="SEX"
                    label="性别"
                    width="100">
            </el-table-column>
            <el-table-column
                    prop="IDNUMBER"
                    label="身份证号"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="TELEPHONE"
                    label="联系方式"
                    width="120">
            </el-table-column>
            <el-table-column
                    prop="MARRIAGE"
                    label="婚姻状况"
                    width="120">
            </el-table-column>
            <el-table-column
                    prop="ACADEMIC"
                    label="学历"
                    width="100">
            </el-table-column>
            <el-table-column
                    prop="INCOME"
                    label="月收入（元）"
                    width="110">
            </el-table-column>
            <el-table-column
                    prop="MONEY"
                    label="借款金额（元）"
                    width="120">
            </el-table-column>
            <el-table-column
                    prop="LONGTIME"
                    label="借款时长(/月)"
                    width="120">
            </el-table-column>
            <el-table-column
                    prop="PURPOSE"
                    label="用途"
                    width="120">
            </el-table-column>
            <el-table-column
                    prop="HOUSINGQUANTITY"
                    label="抵押物"
                    width="120">
            </el-table-column>
            <el-table-column
                    prop="TOTALPRICE"
                    label="抵押物价值(元)"
                    width="120">
            </el-table-column>
            <el-table-column
                    prop="STATUS"
                    label="审核状态"
                    width="100">
                <template slot-scope="scope">
                    <el-tag class="btn btn-info">{{scope.row.STATUS | formatStata}}</el-tag>
                </template>
            </el-table-column>
            <el-table-column
                    label="操作">
                <template scope="scope">
                    <el-button :plain="true" type="success" size="small" icon="edit" @click="editClick(scope.row)">编辑</el-button>
                </template>
            </el-table-column>
        </el-table>
    </el-row>

    <!--列表底部工具条和分页符-->
    <el-row style="margin-top: 20px" type="flex" justify="end">
        <el-col :span="18" >
            <el-pagination
                    style="float: right"
                    @size-change="pageSizeChange"
                    @current-change="currentPageChange"
                    :current-page="currentPage"
                    :page-sizes="[10, 20, 30, 50]"
                    :page-size="pageSize"
                    layout="total, sizes, prev, pager, next, jumper"
                    :total="total">
            </el-pagination>
        </el-col>
    </el-row>
    <!--编辑界面-->
    <el-dialog title="审核" :visible.sync="editFormVisible" :close-on-click-modal="false">
        <el-form :model="editForm" label-width="200px" :rules="editFormRules" ref="editForm">
            <el-form-item label="一审人" prop="FIRSTINCNAME">
                <el-input v-model="editForm.FIRSTINCNAME" disabled="true"></el-input>
            </el-form-item>
            <el-form-item label="一审时间">
                <el-date-picker type="date"  placeholder="选择日期" v-model="editForm.FIRSTINCTIME"format="yyyy 年 MM 月 dd 日"
                                value-format="yyyy/MM/dd" disabled="true"></el-date-picker>
            </el-form-item>
            <el-form-item label="一审意见" prop="FIRSTINC">
                <el-input type="textarea" v-model="editForm.FIRSTINC" disabled="true"></el-input>
            </el-form-item>
            <el-form-item label="二审人" prop="SECONDINCNAME">
                <el-input v-model="editForm.SECONDINCNAME" disabled="true"></el-input>
            </el-form-item>
            <el-form-item label="二审时间">
                <el-date-picker type="date"  placeholder="选择日期" v-model="editForm.SECONDTIME"format="yyyy 年 MM 月 dd 日"
                                value-format="yyyy/MM/dd" disabled="true"></el-date-picker>
            </el-form-item>
            <el-form-item label="二审意见" prop="SECONDINC">
                <el-input type="textarea" v-model="editForm.SECONDINC" disabled="true"></el-input>
            </el-form-item>
            <el-form-item label="是否返回审核" prop="STATUS">
                <el-radio-group v-model="editForm.STATUS">
                    <el-radio :label="20">是</el-radio>
                    <el-radio :label="22">否</el-radio>
                </el-radio-group>
            </el-form-item>

        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click.native="editFormVisible = false">取消</el-button>
            <el-button type="primary" @click.native="editSubmit" :loading="editLoading">确定</el-button>
        </div>
    </el-dialog>
</div>

<script type="text/javascript">

    var app = new Vue({
        el: '#app',
        data: {
            message: '审核列表'
        }
    });
    var tableView = new Vue({
        el: '#tableView',
        data: {
            //列表数据
            tableData: [],
            //显示加载中样式
            loading: false,
            //搜索表单
            searchForm: {
                realname: '',
            },
            //多选值
            multipleSelection: [],
            //当前页
            currentPage: 1,
            //分页大小
            pageSize: 10,
            //总记录数
            total: 800,
            //删除的弹出框
            deleteVisible: false,
            //编辑界面是否显示
            editFormVisible: false,
            editLoading: false,
            goUrl: '',
            //校验
            editFormRules: {
                name: [
                    {required: true, message: '请输入姓名', trigger: 'blur'}
                ]
            },
            //编辑界面数据
            editForm: {
                PURPOSE:'',
                HOUSINGQUANTITY:'',
                TOTALPRICE:'',
                REMARK:'',
                FIRSTINC:'',
                SECONDINCNAME:'',
                SECONDTIME:'',
                SECONDINC:'',
                STATUS:'',
            }

        },
        created:function(){
            //在 then的内部不能使用Vue的实例化的this, 因为在内部 this 没有被绑定。
            var self = this;
            var start =(this.currentPage-1)*this.pageSize;
            var end =this.currentPage*this.pageSize+1;//分页
            axios.post('/loanDis/getListLoanDis',{'start':start,'end':end}).then(function(response){
                self.total=response.data.total;
                self.tableData = response.data.data;
                console.log(self.total);
            })

        },
        filters: { // el-tag类型转换
            // 状态显示转换
            formatStata: function (status) {
                const statusMap = {22: '未通过'}
                return statusMap[status]
            },
        },
        methods:{
            //表格重新加载数据
            loadingData:function() {
                var _self = this;
                _self.loading = true;
                var self = this;
                var start =(this.currentPage-1)*this.pageSize;//分页数据
                var end =this.currentPage*this.pageSize+1;
                var searchForm= {
                    'start': start,
                    'end': end,
                    'realname': this.searchForm.realname
                };
                axios.post('/loanDis/getListLoanDis', searchForm).then(function (response) {
                    _self.total = response.data.total;
                    _self.tableData = response.data.data;
                })
                setTimeout(function () {
                    _self.loading = false;
                }, 300);
            },
            //表格审核事件
            editClick:function(row) {
                this.goUrl="/loanDis/updateDis";
                this.editFormVisible = true;
                this.editForm = Object.assign({}, row);

            },

            //表格查询事件
            searchClick:function() {
                var self = this;
                self.loadingData();//重新加载数据
            },
            //分页大小修改事件
            pageSizeChange:function(val) {
                console.log('每页 ' + val +' 条');
                this.pageSize = val;
                var _self = this;
                _self.loadingData();//重新加载数据
            },
            //当前页修改事件
            currentPageChange:function(val) {
                this.currentPage = val;
                console.log('当前页: ' + val);
                var _self = this;
                _self.loadingData();//重新加载数据
            },
            //保存点击事件
            editSubmit:function(){
                var _self = this;
                _self.loading = true;
                var formData =this.editForm;
                var goUrl=this.goUrl;
                axios.post(goUrl,formData).then(function(response){
                    if(response.data>0){
                        _self.editFormVisible = false;// 让弹出层隐藏
                        _self.loadingData();//重新加载数据
                    }else{
                        _self.$message({
                            message: '更新失败',
                            type: 'fail'
                        });
                    }
                })
            },
        }
    })
</script>

</body>
</html> 